<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Applicants</title>
</head>
<body>
    <h1>All Applicants</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
        </thead>
        <tbody>
        <tr th:each="applicant : ${applicants}">
            <td th:text="${applicant.getId()}"></td>
            <td><a th:href="'/applicants/profile/' + ${applicant.getId()}" th:text="${applicant.getName()}"></a></td>
            <td th:text="${applicant.getEmail()}"></td>
            <td th:text="${applicant.getPhoneNumber()}"></td>
            <td th:text="${applicant.getApplicantTypeAsString()}"></td>
            <td th:text="${applicant.getStartDateAsString()}"></td>
        </tbody>
    </table>
</body>
</html>